.popup__save-button{
    font-size: 18px;
    line-height: 22px;
    color: white;
    margin: 8px 0 37px;
    width: 358px;
    height: 50px;
    background-color: black;
    border: none;
    cursor: pointer;
}

.popup__save-button:hover{
    opacity: 0.8;
}

@media screen and (max-width: 620px) {
    .popup__save-button {
        width: 238px;
        height: 46px;
        margin: 45px auto 25px;
    }
}
