.popup__container{
    margin: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 2%;
    position: relative;
    cursor: auto;
}


@media screen and (max-width: 620px) {
    .popup__container {
        width: 282px;
    }
}
