.profile__subscribe-button{
    background: url("../../../images/button_subscribe.svg") no-repeat center;
    height: 50px;
    width: 150px;
    border: none;
    transition: opacity 0.3s ease-out;
    cursor:pointer;
}

.profile__subscribe-button:hover{
    opacity: 0.6;
}

@media screen and (max-width: 620px) {
    .profile__subscribe-button {
        background: url("../../../images/button_subscribe_big.svg") no-repeat center;
        width: 282px;
        margin: 36px 0 0;
    }
}