.footer{
    margin: 66px auto 60px;
    color: rgba(84, 84, 84, 1);
    max-width: 880px;
}

@media screen and (max-width: 900px) {
    .footer {
        max-width: 581px;
    }
}

@media screen and (max-width: 620px) {
    .footer {
        margin-top: 48px;
        max-width: 281px;
        margin-bottom: 36px;
    }
}
