.popup_save-button_inactive {
    outline: 1px solid;
    color: #B8B8B8;
    background: white;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}